<div class="content">
    <div class="row">
        <div class="col text-center">
            <h3>Hello <%= name %>, you may order <strong><%= units %></strong> more times this week</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <h2>Breakfast</h2>
                <% menuData.breakfast.titles.forEach((title, index) => { %>
                    <% if (index % 4 === 0) { %>
                        <div class="row">
                    <% } %>
                    
                    <div class="col-md-3 mb-3">
                        <button id="btn-<%= title %>" 
                            onclick="handleBreakfastClick('<%= title %>')" 
                            class="panel w-100" 
                            data-order="<%= index %>">
                            <img src="<%= menuData.breakfast.images[index] || '/assets/img/crown.png' %>" class="panel-img w-100" />
                            <h5 class="panel-title"><%= title %></h5>
                        </button>
                    </div>
    
                    <% if ((index + 1) % 4 === 0 || index === menuData.breakfast.titles.length - 1) { %>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <h2>Lunch</h2>
                <% menuData.lunch.titles.forEach((title, index) => { %>
                    <% if (index % 4 === 0) { %>
                        <div class="row">
                    <% } %>
                    
                    <div class="col-md-3 mb-3">
                        <button id="btn-<%= title %>" 
                            onclick="handleLunchClick('<%= title %>')" 
                            class="panel w-100" 
                            data-order="<%= index %>">
                            <img src="<%= menuData.lunch.images[index] || '/assets/img/crown.png' %>"  class="panel-img w-100" />
                            <h5 class="panel-title"><%= title %></h5>
                        </button>
                    </div>
    
                    <% if ((index + 1) % 4 === 0 || index === menuData.lunch.titles.length - 1) { %>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<div class="row footer align-items-center">
    <div class="col text-center">
        <button id="submitButton" class="disabled">Submit Order</button>
    </div>
</div>