<div class="content">
    <div class="row">
        <div class="col text-center">
            <h1>Hello <%= name %>,</h1>
            <h3>You may order <strong><%= units %></strong> more times this week</h3>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>Select Breakfast</h2>
            <div class="container">
                <% menuData.breakfast.titles.forEach((title, index) => { %>
                    <% if (index % 4 === 0) { %>
                        <div class="row">
                    <% } %>
                    
                    <div class="col-md-3 mb-3">
                        <button id="btn-<%= title %>" 
                            onclick="handleBreakfastClick('<%= title %>')" 
                            class="panel w-100" 
                            data-order="<%= index %>">
                            <img src="<%= menuData.breakfast.images[index] %>" class="panel-image w-100" />
                            <span class="panel-text"><%= title %></span>
                        </button>
                    </div>
    
                    <% if ((index + 1) % 4 === 0 || index === menuData.breakfast.titles.length - 1) { %>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>Select Lunch</h2>
            <div class="container">
                <% menuData.lunch.titles.forEach((title, index) => { %>
                    <% if (index % 4 === 0) { %>
                        <div class="row">
                    <% } %>
                    
                    <div class="col-md-3 mb-3">
                        <button id="btn-<%= title %>" 
                            onclick="handleLunchClick('<%= title %>')" 
                            class="panel w-100" 
                            data-order="<%= index %>">
                            <img src="<%= menuData.lunch.images[index] %>" class="panel-image w-100" />
                            <span class="panel-text"><%= title %></span>
                        </button>
                    </div>
    
                    <% if ((index + 1) % 4 === 0 || index === menuData.breakfast.titles.length - 1) { %>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<div class="row footer align-items-center">
    <div class="col text-center">
        <button id="submitButton" class="disabled">Submit Order</button>
    </div>
</div>