<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Up</title>
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="row header align-items-center">
            <div class="col text-center">
                <h1><%= __("ASCC") %></h1>
            </div>
        </div>

        <div class="content">
            <div class="row">
                <div class="col text-center">
                    <h3><%- __("order_message", { name: name, units: units }) %></h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container">
                        <h2 id="breakfast-section"><%= __("breakfast") %></h2>
                        <% menuData.breakfast.titles.forEach((title, index) => { %>
                            <% if (index % 4 === 0) { %>
                                <div class="row">
                            <% } %>
                            
                            <div class="col-md-3 mb-3">
                                <button id="btn-<%= title %>" 
                                    onclick="handleBreakfastClick('<%= title %>')" 
                                    class="panel w-100" 
                                    data-order="<%= index %>">
                                    <img src="<%= menuData.breakfast.images[index] || '/assets/img/crown.png' %>" class="panel-img w-100" />
                                    <h5 class="panel-title"><%= title %></h5>
                                </button>
                            </div>
            
                            <% if ((index + 1) % 4 === 0 || index === menuData.breakfast.titles.length - 1) { %>
                                </div>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container">
                        <h2 id="lunch-section"><%= __("lunch") %></h2>
                        <% menuData.lunch.titles.forEach((title, index) => { %>
                            <% if (index % 4 === 0) { %>
                                <div class="row">
                            <% } %>
                            
                            <div class="col-md-3 mb-3">
                                <button id="btn-<%= title %>" 
                                    onclick="handleLunchClick('<%= title %>')" 
                                    class="panel w-100" 
                                    data-order="<%= index %>">
                                    <img src="<%= menuData.lunch.images[index] || '/assets/img/crown.png' %>"  class="panel-img w-100" />
                                    <h5 class="panel-title"><%= title %></h5>
                                </button>
                            </div>
            
                            <% if ((index + 1) % 4 === 0 || index === menuData.lunch.titles.length - 1) { %>
                                </div>
                            <% } %>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer align-items-center">
            <div class="col d-flex justify-content-between">
                <button id="backButton" class="actionButton"><%= __("back") %></button>
                <button id="submitButton" class="actionButton disabled"><%= __("submit_order") %></button>
            </div>
        </div>

        <div id="errorOverlay" class="alert-overlay">
            <div id="errorMessage" class="alert-message">
                
            </div>
        </div>

        <div id="afkOverlay" class="alert-overlay">
            <div id="afkMessage" class="alert-message">
                <%= __("inactivity", { seconds: 10 }) %>
            </div>
        </div>

        <div id="confirmationOverlay" class="alert-overlay">
            <div id="confirmationMessage" class="alert-message">
                <%- __("submitted") %>
            </div>
        </div>
        
    </div>
    <script src="assets/js/menu.js"></script>
    <script src="assets/js/afk.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"
    ></script>
</body>
</html>